<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>

        <button>Home</button>
        <button href="{% url 'events' %}">Events</button>
        <button>Next1</button>
        <button>Next2</button>
        

    </nav>
    <br><br><br><br>

    {% block content %}

    {% endblock %}

    <br>
    <br>
    <br>
    
    <h1>Bottom</h1>
    
</body>
</html>