{% extends 'base.html' %}
    {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    
    {% for event in events %}
    
    <strong>{{event}} </strong>  <br>
    <ul>
        <li> Name           : {{ event.name}}</li>
        <li> Date           : {{ event.event_date}}</li>
        <li> Venue          : {{ event.venue}}</li>
        <li>Venue Details   :</li>
               
                <ul>Venue Name  : <strong>{{event.venue.name}}</strong> </ul>
                <ul>Address     : <strong>{{event.venue.address}}</strong> </ul>
                <ul>Zip Code    : <strong>{{event.venue.zip_code}}</strong> </ul>
                <ul>Phone       : <strong>{{event.venue.phone}}</strong> </ul>
                <ul>Web         : <strong>{{event.venue.web}}</strong> </ul>
                <ul>Email       : <strong>{{event.venue.email}}</strong> </ul>


            

        <li> Manager        : {{ event.manager}}</li>
        <li> Description    : {{ event.description}}</li>
        <li> Attendees      : </li>

        {% for Attendee in event.attendees.all %}
            <ul>{{Attendee}}</ul>
        {% endfor %}


    </ul>

    {% endfor %}
    
</body>
</html>

{% endblock %}