{% extends 'base.html' %}

{% block content %}

<body>
    <div>
        <form action=''method='POST'>
            {% csrf_token %}
            <select name='month'>
                <option value='January'>January</option>
                <option value='February'>February</option>
                <option value='March'>March</option>
                <option value='April'>April</option>
                <option value='May'>May</option>
                <option value='June'>June</option>
                <option value='July'>July</option>
                <option value='August'>August</option>
                <option value='September'>September</option>
                <option value='October'>October</option>
                <option value='November'>November</option>
                <option value='December'>December</option>

            </select>

            <input name='year' type="text">

            <input type="submit">
        </form>



    </div>
        <br><br>
    <div>
        {{ cal|safe}}
    </div>

</body>
{% endblock %}